body
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh minmax(5vh, auto) minmax(75vh, auto);
    margin: 0;
    font-family: 'Inria Sans'; 
}

#BUTIKEN
{
    grid-column: 1/4;
}

nav
{
    grid-column: 1/4;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1f;

    justify-items: center;
    align-items: center;
  
    background-color: #000000;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

#Om
{
    border: solid #ffffff 2px;
    padding: 5%;
}

#logga
{
    height: 100%;
}

#Varukorg
{
    border: solid #ffffff 2px;
    padding: 5%;
}

header
{
    grid-column: 1/4;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    background-color: #000000;
    justify-items:end;
    gap: 20px;
}

.Sök
{
    display: flex;
    padding: 0;
    
}

#Sökområde, #Sökknapp
{
    margin: 5px;
    min-height: 20px;
    max-height: 50px;
}

#Sökknapp
{
    aspect-ratio: 1/1;
    padding: 0;
}
.Filter
{
    justify-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

#FilterDrop
{
    height: 85%;
    width: 100%;
    color: #666666;
    font-size: 20px;
    font-family: 'Inria Sans'; 

}




main
{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

#Sökikon
{
    max-width: 100%;
    margin: 0;
}