body
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh minmax(5vh, auto) minmax(100vh auto);
    margin: 0;
    font-family: 'Inria Sans'; 
}

#BUTIKEN
{
    grid-column: 1/4;
}

nav
{
    grid-column: 1/4;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1f;

    justify-items: center;
    align-items: center;
  
    background-color: #000000;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

#Om
{
    border: solid #ffffff 2px;
    padding: 5%;
    border-radius: 0;
}

#logga
{
    height: 100%;
}

#Varukorg
{
    border: solid #ffffff 2px;
    padding: 5%;
    border-radius: 0;
}

header
{
    grid-column: 1/4;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    background-color: #000000;
    justify-items:end;
    gap: 20px;
}

.Sök
{
    display: flex;
    padding: 0;
    
}

#Sökområde, #Sökknapp
{
    margin: 5px;
    min-height: 20px;
    max-height: 50px;
    border-radius: 10px;
}


#Sökknapp
{
    aspect-ratio: 1/1;
    padding: 0;
    overflow: hidden;
}

#Sökikon
{
    max-width: 100%;
    margin: 0;
}

.Filter
{
    justify-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%
}

#FilterDrop
{
    height: 85%;
    width: 100%;
    color: #666666;
    font-size: 20px;
    font-family: 'Inria Sans';
    border-radius: 10px;
}

main
{
    grid-column: 1/4;
    display: grid;
    grid-template-rows: repeat();
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

@media (min-width:1024px) 
{
    main
    {
        grid-template-columns: 1fr 1fr 1fr;
    
    }
}

@media (max-width:1023px)and (min-width: 767px)
{
    main
    {
        grid-template-columns: 1fr 1fr;
    }
    nav
    {
        grid-template-columns: 1fr 2fr;
    }

    header
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.VaraContainer
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
    width: 80%;
 
    margin: 5vw;
    border: solid #000000 4px;
    background-color: #b7b7b7;
    border-radius: 4px;
    overflow: hidden;
    object-fit: contain;
}

.varaBild
{
    border-bottom: solid #000000 2px;
    overflow: hidden;
}

.Varapris
{
    border-top: solid #000000 2px;
    overflow: hidden;
    display: flex;
    height: auto;
}

#Vara1
{
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}